<%= movies.map( data => { return `
/**======================================================
||                      ${data.movieName}                  ||
=======================================================*/
@keyframes movie-${data.movieName} {
    100% { background-position: 100% 0; }
}

%_animate-movie-${data.movieName}{
    animation: movie-${data.movieName};
    animation-timing-function: steps(${data.framesNumber - 1});
    animation-duration: ${data.framesNumber * 1/25}s;
    animation-iteration-count: infinite;
}

%_movie-${data.movieName}{
    background: url('${config.dest}${data.movieName}.${data.sizes.type}?${data.version}') no-repeat;
    width: ${data.sizes.width}px;
    height: ${data.sizes.height}px;
    display: block;
}
`}).join('\n\n') %>
